<ion-header>
  <ion-navbar>
    <ion-title>
      Transporter
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <!--The world is your oyster.-->
  <!--<p>-->
    <!--If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.-->
  <!--</p>-->
  <!--<ion-card *ngIf="stateName === ''">-->
    <!--<img src="../../assets/img/statusReady.jpg"/>-->

  <!--</ion-card>-->

  <!--<ion-card *ngIf="stateName === 'Ожидание'">-->
    <!--<img src="../../assets/img/dataWait1.jpg"/>-->
    <!--<div class="card-title">{{stateName}}</div>-->

  <!--</ion-card>-->

  <!--<ion-card *ngIf="stateName === 'Запись'">-->
    <!--<img src="../../assets/img/dataRecord1.jpg"/>-->
    <!--<div class="card-title">{{stateName}}</div>-->
  <!--</ion-card>-->


<ion-list>

  <ion-item *ngIf="stateName != ''">{{stateName}}</ion-item>
<!--<button id="mainButton" ion-button (click)="startDrive()" full icon-left>some text</button>-->
<!--<button *ngIf="stateName != ''"ion-button (click)="startDrive()" full icon-left><ion-icon name="car"></ion-icon>{{buttonText}}</button>-->
<button ion-button (click)="startDrive()" full icon-left><ion-icon name="car"></ion-icon>{{buttonText}}</button>
  <!--<button ion-button (click)="writePropertyFile()" full icon-left> <ion-icon name="lock"></ion-icon>Create property file </button>-->
<!--<ion-item>{{localDataSaveService.returnCheckFile}}</ion-item>-->

<!--<ion-item *ngIf="connectivityService.clOnScreen !='' || connectivityService.clOnScreen2 !='' ">{{clOnScreen}}</ion-item>-->
  <!--<ion-item *ngIf="clOnScreen3 !=''">clOnScreen3: {{clOnScreen3}}</ion-item>-->
  <!--<ion-item *ngIf="connectivityService.clOnScreen2 !=''">clOnScreen2: {{connectivityService.clOnScreen2}}</ion-item>-->
  <ion-item *ngIf="clOnScreen !=''">{{clOnScreen}}</ion-item>
  <!--<ion-item *ngIf="serverService.clOnScreen4 !=''">clOnScreen4: {{serverService.clOnScreen4}}</ion-item>-->
  <!--<ion-item *ngIf="localDataSaveService.clOnScreen5 !=''">clOnScreen5: {{localDataSaveService.clOnScreen5}}</ion-item>-->
  <!--Accelerometer data-->
  <ion-item *ngIf="accelerometerService.accelerationX !=''"><b>Accelerometer data:</b> </ion-item>
  <ion-item *ngIf="accelerometerService.accelerationX !=''">X: {{accelerometerService.accelerationX}}</ion-item>
  <ion-item *ngIf="accelerometerService.accelerationY !=''">Y: {{accelerometerService.accelerationY}}</ion-item>
  <ion-item *ngIf="accelerometerService.accelerationZ !=''">Z: {{accelerometerService.accelerationZ}}</ion-item>
  <ion-item *ngIf="accelerometerService.accelerationTimeStamp !=''">Time: {{accelerometerService.accelerationTimeStamp}}</ion-item>
  <!--Gyroscope data-->
  <ion-item *ngIf="gyroscopeService.gyroscopeX !=''"><b>Gyroscope data:</b> </ion-item>
  <ion-item *ngIf="gyroscopeService.gyroscopeX !=''">X: {{gyroscopeService.gyroscopeX}}</ion-item>
  <ion-item *ngIf="gyroscopeService.gyroscopeY !=''">Y: {{gyroscopeService.gyroscopeY}}</ion-item>
  <ion-item *ngIf="gyroscopeService.gyroscopeZ !=''">Z: {{gyroscopeService.gyroscopeZ}}</ion-item>
  <ion-item *ngIf="gyroscopeService.gyroscopeTimeStamp !=''">Time: {{gyroscopeService.gyroscopeTimeStamp}}</ion-item>
  <!--Geolocation data-->
  <ion-item *ngIf="geoLocationService.geolocationLatitude !=''"><b>Geolocation data:</b> </ion-item>
  <ion-item *ngIf="geoLocationService.geolocationLatitude !=''">Latitude: {{geoLocationService.geolocationLatitude}}</ion-item>
  <ion-item *ngIf="geoLocationService.geolocationLongitude !=''">Longitude: {{geoLocationService.geolocationLongitude}}</ion-item>
  <ion-item *ngIf="geoLocationService.geolocationAltitude !=''">Altitude: {{geoLocationService.geolocationAltitude}}</ion-item>
  <ion-item *ngIf="geoLocationService.geolocationAccuracy !=''">Accuracy: {{geoLocationService.geolocationAccuracy}}</ion-item>
  <ion-item *ngIf="geoLocationService.geolocationAltitudeAccuracy !=''">AltitudeAccuracy: {{geoLocationService.geolocationAltitudeAccuracy}}</ion-item>
  <ion-item *ngIf="geoLocationService.geolocationHeading !=''">Heading: {{geoLocationService.geolocationHeading}}</ion-item>
  <ion-item *ngIf="geoLocationService.geolocationSpeed !=''">Speed: {{geoLocationService.geolocationSpeed}}</ion-item>
  <!--<ion-item *ngIf="gyroscopeService.gyroscopeZ !=''">Z: {{gyroscopeService.gyroscopeZ}}</ion-item>-->
  <ion-item *ngIf="geoLocationService.geolocationTimeStamp !=''">Time: {{geoLocationService.geolocationTimeStamp}}</ion-item>

</ion-list>


</ion-content>
